@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: Work Sans;
}
.text-light-gray{
    color: #727272;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    background-color: #FF900E;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
nav ul li:hover{
    background-color: tomato;
    transition: all 0.5s;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner{
    text-align: center;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
}
.banner-descriptionn{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    line-height: 26px
}

.banner img{
    margin-top: 15px;
    width: 100%;
}

/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.85rem;
    
}
.teams-title .quick{
    color: #727272;
    font-weight: 700;
}
.teams-feachures{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}







/* responsive media querey */
/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
    padding-right: 20px;
    padding-left: 20px;
    }
    nav ul li{
        padding: 5px 5px;
    }
    }



/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
}


